<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>Index Page</h1>
        <br>
        <h2>Welcome to the index page.</h2>
        <br>
        <p>To view our list of video games, please click on the games link in the navigation bar.</p>
        <br>
        <p>To learn more about us, please click on the about link in the navigation bar.</p>
        <br>
        <br>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>